body, input, select, textarea {
	font-family: 'Arial', 'Microsoft JhengHei', 'PingFang TC';
	color: #1a1a1a;
	font-size: 15px;
}

p {
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: inherit;
	-webkit-tap-highlight-color: transparent;
}

a, button, input[type="submit"] {
	cursor: pointer;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

hr {
	border: 0;
	border-bottom: 1px solid #e4e4e4;
}

/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-image: linear-gradient(150deg, #00a28d 25%, #01a5a7 100%); /* change if the mask should have another color then white */
	z-index: 500; /* makes sure it stays on top */
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -50px;
  padding: 10px;
  border-radius: 2px;
}
.loading-dot {
  float: left;
  width: 10px;
  height: 10px;
  margin: 0 6px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 2px #007d63;
  opacity: 0;
  transform: scale(0.7);
  animation: loadingFade 2s infinite;
}
.loading-dot:nth-child(1) { animation-delay: 0s; }
.loading-dot:nth-child(2) { animation-delay: 0.2s; }
.loading-dot:nth-child(3) { animation-delay: 0.4s; }
.loading-dot:nth-child(4) { animation-delay: 0.6s; }

@keyframes loadingFade {
  0% { opacity: 0; transform: scale(0.7); }
  40% { opacity: 0.8; transform: scale(1); }
  90% { opacity: 0; transform: scale(0.7); }
  100% { opacity: 0; transform: scale(0.7); }
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* layout */
section {
	padding: 0 2em;
}
.container {
	padding: 4em 0;
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

.w100 { width: 100%; }
.max-w2 { max-width: 200px; }
.max-w6 { max-width: 600px; }

.col { display: inline-block; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }
.d-table { display: table; }
.d-row { display: table-row; }
.d-cell { display: table-cell; }
.relative { position: relative; }

.disabled { pointer-events: none; }

.mx-auto {
	margin-left: auto!important;
	margin-right: auto!important;
}
.mt-1 {	margin-top: 0.8em; }
.mt-2 {	margin-top: 1.4em; }
.mb-m {	margin-bottom: 9px; }
.mb-1 {	margin-bottom: 0.8em; }
.mb-2 {	margin-bottom: 1.4em; }
.mb-3 {	margin-bottom: 2em; }
.mb-4 {	margin-bottom: 3em; }
.mt-s { margin-top: 5px; }
.mb-s { margin-bottom: 5px; }
.ml-1 { margin-left: 0.8em; }
.ml-5 { margin-left: 5em; }
.mr-1 { margin-right: 0.6em; }

.pt-1 { padding-top: 0.8em; }
.pt-2 { padding-top: 1.4em; }
.pb-4 { padding-bottom: 4em; }
.pa-s { padding: 5px 6px 4px; }

.hidden {
	overflow: hidden;
	padding-right: 8px;
}

/* position */
.ab-center {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.ab-bottom {
	position: absolute;
	bottom: 0;
}
.fixed-left {
	position: fixed;
	left: 0px;
	top: 300px;
	z-index: 200;
}
.flex-middle {
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-space {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.align-self-center {
	align-self: center;
}
/* color */
.bg-no { background: transparent; }
.bg-white {	background-color: rgba(255, 255, 255, 1); }
.bg-gray { background-color: #f0f0f0; }
.bg-gray2 { background-color: #f8f8f8; }
.bg-black {	background-color: #1a1a1a; }
.bg-blue { background-color: #009f89; }

.t-white { color: #fff; }
.t-black { color: #1a1a1a; }
.t-gray { color: #808080; }
.t-gray2 { color: #979797; }
.t-blue { color: #009f89; }

a { transition: color 0.16s ease; }
.t-blue a:hover { color: #02806e; text-decoration: underline; }
a.t-blue:hover { color: #02806e; text-decoration: underline; }

/* text */
.t-large { font-size: 20px; }
.t-mid { font-size: 15px; }
.t-small { font-size: 13px; }

.t-center { text-align: center; }
.t-left { text-align: left; }
.t-right { text-align: right; }
.t-justify { text-align: justify; }

.t-bold { font-weight: 700; }
.t-light { font-weight: 300; }

.lh-mid { line-height: 1.8; }
.lh-large { line-height: 2; }

p + p {	margin-top: 1em; }

.show-sm { display: none; }

/* icons */


/* header */
header {
	position: absolute;
	left: 0;
	right: 0;
	top: auto;
    bottom: -16px;
	z-index: 99;
    transition: transform 0.6s ease, max-height 0.6s ease, background 0.4s ease, box-shadow 0.4s ease;
    height: 90px;
    background: rgba(255,255,255,0);
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}
.navtop.container {
	padding: 1em 0 1em 0;
}
.navbar {
	margin-right: -10px;
}
.navbar li {
	display: inline-block;
	position: relative;
}
.navbar li + li {
	margin-left: 1em;
}
.navbar a {
	padding: 5px 10px;
	display: inline-block;
	position: relative;
	color: #fff;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.75);
}
.navbar a:hover {
	color: #fff;
}
.navbar a::after {
	content: '';
	width: 0;
	height: 0.75px;
	position: absolute;
	background-color: #009f89;
	background-color: #fff;
	bottom: 3px;
	left: 10px;
	transition: width 0.4s ease;
}
.navbar a:hover::after, .navbar a.active::after {
	width: calc(100% - 20px);
}

header.detachedHide {
	/*transform: translateY(-100%);*/
}
header.show {
}
header.detached {
	position: fixed;
	background: rgba(255,255,255,1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	height: 50px;
	top: 0;
}
header.detached .navbar a {
	color: #009f89;
	text-shadow: none;
}
header.detached .navbar a:hover {
	color: #00816f;
}
header.detached .navbar a::after {
	background-color: #009f89;
}
header.detached.show {
	/*transform: translateY(0);*/
}
header.show .navbar2 {
}
header.detached .navtop.container {
}
header.detached .logo {
}
header.detached .navbar {
}
/* btn */
.btn {
	border: 1px solid #009f89;
	padding: 10px 30px;
	width: 200px;
}
.icon-down {
	margin-top: -5px;
    display: inline-block;
}
/* navbar toggle */
.hbg-btn {
	height: 50px;
	width: 50px;
	vertical-align: top;
	margin-top: 7px;
	display: none;
	transition: margin 0.2s ease;
	margin-right: -15px;
	position: absolute;
	top: 8px;
	right: 2em;
	padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
}
header.detached .hbg-btn {
	margin-top: 0;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.7);
}
.icon-hbg,
.icon-hbg::before,
.icon-hbg::after {
	content: "";
	display: block;
	margin: 0 auto;
	width: 30px;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 2px;
	position: relative;
	transition: top 0.3s ease 0.3s, bottom 0.3s ease 0.3s, transform 0.3s ease, height 0.3s ease 0.3s;
}
.icon-hbg::before {
	position: absolute;
	top: -10px;
}
.icon-hbg::after {
	position: absolute;
	bottom: -10px;
}
header.detached .icon-hbg,
header.detached .icon-hbg::before,
header.detached .icon-hbg::after {
	background-color: #009f89;
}
/* social-media */
.social-media {
	padding: 10px 7px 10px 10px;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	z-index: 200;
}
.social-media a {
	display: inline-block;
	padding: 2px;
	position: relative;
}
.dialog {
	position: absolute;
	width: 32px;
	height: 64px;
	background: url('../img/dialog.svg?v=3') no-repeat;
	background-size: contain;
	writing-mode: vertical-lr;
	padding-left: 7px;
	margin-top: -20px;
	margin-left: 20px;
	transition: all 0.2s ease;
	top: 0;
    left: 23px;
}
.dialog-hover:hover + .dialog {
}
header.detached + .social-media .dialog {
	transform: translateX(-5px);
	opacity: 0;
	pointer-events: none;
}
header.detached.show + .social-media .dialog {
	opacity: 0.75;
	transform: translateX(0);
	pointer-events: initial;
}
header.blur + .social-media .dialog,
header.blur.detached.show + .social-media .dialog {
	opacity: 1;
	transform: translateX(0);
	pointer-events: initial;
}
/* section */

.topsec {
	/* Fallback for browsers that do not support Custom Properties */
  	height: calc(var(--vh, 1vh) * 100);
  	position: relative;
}
.topsec .container {
	max-width: 100%;
	padding: 2em 0;
    height: 100%;
}
.topsec h1 {
	font-size: 34px;
}
.topsec h2 {
	font-size: 20px;
	margin-top: 20px;
	margin-left: 100px;
}
.h100 {
	height: 100%;
	width: auto;
	position: absolute;
    max-width: none;
    right: 0;
}
.mainbg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(var(--vh, 1vh) * 100);
	background: url('../img/gcaa20_bg.jpg?v=2') no-repeat;
	background-size: cover;
	background-position: bottom center;
	z-index: -1;
}
.main-title {
	max-width: 80%;
}
/* gallery */
.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.artwork {
	display: inline-block;
	margin-bottom: 25px;
}
.artwork.fadein {
	transition: all 1s ease;
}
.artwork:hover {
	filter: brightness(110%);
}
.h1 {
	height: 200px;
}
.h2 {
	height: 425px;
}
.w12 {
	width: 100%;
}
.w8 {
	width: calc(100% / 3 * 2 - 25px);
	flex-grow: 2;
	flex-shrink: 1;
}
.w6 {
	width: 50%;
}
.w4 {
	width: calc(100% / 3 - 25px);
	flex-grow: 1;
	flex-shrink: 1;
}

.img-container {
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: relative;
}
.img-container img {
	width: 100%;
	top: -1000px;
	bottom: -1000px;
	left: -1000px;
	right: -1000px;
	margin: auto;
	position: absolute;
}
.img-heigher img {
	height: auto;
	width: 100%;
	max-width: 100%;
}
.img-wider img, .img-square img {
	height: 100%;
	width: auto;
	max-width: none;
}
.imgright img {
	right: -840px;
}
.mr-m {
	margin-right: 25px;
}
.onloading-bg::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(-45deg, #fff 40%, #f6f6f6 60%, #fff 80%);
    background-size: 400% 400%;
    animation: gradient 1.4s ease infinite;
}
.onloading-bg.loaded::after,
.onloading-bg:empty::after {
	display: none;
	animation-play-state: paused;
}

@keyframes gradient {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 0%;
	}
}
/* contact */
.iframe-container {
	width: 100%;
	padding-bottom: 70%;
	position: relative;
}
.iframe-container iframe {
	width: 100%;
	height: 100%;
	position: absolute;
}

span[class^="icon-"] {
	margin-right: 6px;
	vertical-align: middle;
}

/* footer */
footer .container {
	padding: 2em 0;
}

/* video */
.video-sticker {
	width: 220px;
	height: 140px;
	position: absolute;
	left: 10vh;
	bottom: 7vh;
	background: #1a1a1a;
	border: 2px solid #fff;
	transition: opacity 0.3s ease;
}
.video-sticker:hover {
	opacity: 0.9;
}
.video-sticker span {
	display: block;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: url('../img/playbtn.svg') no-repeat;
	background-size: 50px 50px;
	background-position: center center;
	transition: all 0.2s ease;
}
.video-sticker:hover span {
	height: 40px;
	width: 40px;
	transform: scale(1.2);
}

/* popup */
.popup {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.98);
	z-index: 150;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
	overflow: auto;
}
.popup-container {
	width: 100%;
	height: auto;
	max-height: 0%;
	max-width: 960px;
	opacity: 0;
	transform: translateY(30px);
	transition: transform 0.5s ease, opacity 0.1s ease-in, max-width 0.2s ease 0.2s, max-height 0.2s ease 0.2s, padding 0.2s ease 0.2s;
	transition-delay: 0.3s, 0.3s;
	pointer-events: none;
	overflow: hidden;
}
#popup-artwork.popup-container {
	max-width: none;
}
.popup.active {
	opacity: 1;
	pointer-events: auto;
}
.popup-container.active {
	padding: 30px 0;
	overflow: auto;
	pointer-events: auto;
	transform: translateY(0px);
	opacity: 1;
	max-height: 9999px;
	max-width: 960px;
	transition: transform 0.5s ease 0.2s, opacity 0.1s ease-in 0.2s, max-width 0.2s ease, max-height 0.2s ease, padding 0.2s ease;
}
#popup-video.active {
	height: 100%;
	overflow: visible;
}
.popup-close {
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	display: inline-block;
	position: absolute;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 4px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
	right: 0;
}
.popup-close:hover {
  opacity: 0.7;
}
.close {
  position: absolute;
  width: 32px;
  height: 28px;
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 28px;
  width: 2px;
  background-color: #1a1a1a;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.prevbtn, .nextbtn {
	display: inline-block;
	width: 50%;
	height: 40px;
	padding: 0 50px;
	display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
    transition: background 0.3s ease, border-color 0.3s ease;
}
.prevbtn:hover, .nextbtn:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.2);
}
.prevbtn::before, .nextbtn::before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	border: 2px solid #fff;
	border-left: 0;
	border-bottom: 0;
	opacity: 0.35;
	transition: margin 0.2s ease, opacity 0.2s ease;
}
.prevbtn::before {
	transform: rotate(-135deg);
}
.nextbtn::before {
	transform: rotate(45deg);
}
.prevbtn:hover::before {
	margin-left: -15px;
	opacity: 0.75;
}
.nextbtn:hover::before {
	margin-right: -15px;
	opacity: 0.75;
}

.blur {
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}

.video-container {
	width: 100%;
	padding-top: 52.3%;
	height: 0;
}
.video-container .popup-close {
	position: absolute;
	top: 0;
	right: 0px;
}
.video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
}

.artwork-container {
	width: 100%;
	color: #fff;
}
.artwork-container > div {
	max-width: 960px;
	transition: opacity 0.2s ease, transform 0.4s ease;
}
.artwork-container > div.hide {
	opacity: 0;
	transform: translateY(-20px);
}
.close-container {
	position: relative;	
}
.artwork-container .popup-close {
	margin-right: -40px;
	margin-left: auto;
}
.artwork-container .artwork-img {
	margin: 25px auto;
}

.artwork-img {
	left: 0;
	right: 0;
}
.artwork-img img {
	max-height: calc(var(--vh, 1vh) * 100 - 125px);
}

.artwork-container .fluid {
	max-width: none;
}



.popup hr {
	border-color: #4d4d4d;
}

.d-cell + .d-cell {
	padding-left: 15px;
}
.d-cell:first-of-type {
	min-width: 63px;
}

/* fadein */
.fadein {
	opacity: 0;
	transition: opacity 1s ease, transform 1s ease;
}
.fadein.show {
	opacity: 1;
}

/* card */
.card {
	display: inline-block;
}
.card + .card {
	margin-left: 25px;
}
.slider {
	position: relative;
	overflow: hidden;
	max-height: 300px;
	margin-top: -30px;
	margin-bottom: 3em;
	width: calc(100% + 24px);
}
.slider::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 100%;
	background-color: #fff;
	right: 0;
	top: 0;
}
.slick-arrow {
	position: absolute;
	width: 40px;
	height: 100%;
	display: inline-block;
	top: 0;
	background: rgba(255, 255, 255, 0.25);
    overflow: hidden;
    text-indent: -200px;
    z-index: 2;
    border: 0;
    opacity: 0;
    transition: all 0.75s ease;
}
.slick-arrow::after {
	content: '';
	position: absolute;
	width: 17px;
	height: 17px;
	display: inline-block;
	border: 1px solid #009f89;
	border-right: 0;
	border-bottom: 0; 
	top: 30px;
	bottom: 0px;
	margin: auto;
}

.slick-arrow.slick-prev {
	left: 0px;
}
.slick-arrow.slick-next {
	right: 25px;
}
.slick-arrow.slick-prev::after {
	transform: rotate(-45deg);
	left: 15px;
}
.slick-arrow.slick-next::after {
	transform: rotate(135deg);
	right: 15px;
}

.slider:hover .slick-arrow {
	opacity: 1;
}
.slick-arrow:hover {
	background: rgba(255, 255, 255, 0.85);
}
.slick-arrow:active {
	background: rgba(255, 255, 255, 0.65);
	transition: all 0.2s ease;
}

/* colorbox */
#cboxPrevious {
    top: 0;
    left: 10px;
    bottom: 0;
    margin: auto;
    background: url(images/prev.png);
}
#cboxNext {
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    background: url(images/next.png);
}
#cboxTitle {
	position: absolute;
	display: block;
	padding: 0 15px;
	bottom: 0;
	width: 100%;
	margin: 0;
    background: transparent;
    color: #fff;
    transform: translateY(100%);
    opacity: 0;
	transition: all 0.6s ease;
}
#cboxTitle:not(:empty) {
	opacity: 1;
    padding: 15px;
}
#cboxContent button#cboxClose {
	top: -10px;
	right: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
	transform: translateY(-100%);
}
#cboxContent {
	background: rgba(255, 255, 255, 0.2);
}

/* zoomin */
.img-zoomin {
	position: relative;
	display: block;
	cursor: pointer;
}
.img-zoomin::after {
	content: '\e90b';
	font-family: 'icomoon' !important;
	/* Better Font Rendering =========== */
 	-webkit-font-smoothing: antialiased;
 	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	display: flex;
	width: 60px;
	height: 60px;
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	font-size: 36px;
	opacity: 0;
	transition: all 0.4s ease;
	pointer-events: none;
}
.img-zoomin:hover::after {
	opacity: 0.75;
}
.img-zoomin:active::after {
	opacity: 1;
	transition: all 0.1s ease;
}
.viewer-backdrop {
	background-color: rgba(0, 0, 0, 0.9);
}